@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 212 100% 95%;
      --foreground: 212 5% 0%;
      --card: 212 50% 90%;
      --card-foreground: 212 5% 10%;
      --popover: 212 100% 95%;
      --popover-foreground: 212 100% 0%;
      --primary: 212 96.3% 32.2%;
      --primary-foreground: 0 0% 100%;
      --secondary: 212 30% 70%;
      --secondary-foreground: 0 0% 0%;
      --muted: 174 30% 85%;
      --muted-foreground: 212 5% 35%;
      --accent: 174 30% 80%;
      --accent-foreground: 212 5% 10%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 212 5% 90%;
      --border: 212 30% 50%;
      --input: 212 30% 18%;
      --ring: 212 96.3% 32.2%;
      --radius: 0.5rem;
     }
    .dark {
      --background: 212 50% 5%;
      --foreground: 212 5% 90%;
      --card: 212 50% 0%;
      --card-foreground: 212 5% 90%;
      --popover: 212 50% 5%;
      --popover-foreground: 212 5% 90%;
      --primary: 212 96.3% 32.2%;
      --primary-foreground: 0 0% 100%;
      --secondary: 212 30% 10%;
      --secondary-foreground: 0 0% 100%;
      --muted: 174 30% 15%;
      --muted-foreground: 212 5% 60%;
      --accent: 174 30% 15%;
      --accent-foreground: 212 5% 90%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 212 5% 90%;
      --border: 212 30% 18%;
      --input: 212 30% 18%;
      --ring: 212 96.3% 32.2%;
      --radius: 0.5rem;
     }
    
  }
  

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .nav-bar{
    background: rgb(2,78,160);
    background: linear-gradient(90deg, rgba(2,78,160,1) 0%, rgba(0,183,172,1) 100%);
  }
  .gradient-bg{
    background: rgb(2,78,160);
    background: linear-gradient(90deg, rgba(2,78,160,1) 0%, rgba(0,183,172,1) 100%);
  }
  .btn-lab-report{
    border: 1px solid #00b7ac;
    color: #284797;
    margin: 0;
    outline: 0;
    text-decoration: none;
    transition: .5s ease all;
  }
  .btn-lab-report:hover, .icon-menu-item:hover{
    background: rgb(2,78,160);
    background: linear-gradient(90deg, rgba(2,78,160,1) 0%, rgba(0,183,172,1) 100%);
    color: #fff !important;
  }
  .btn-appoinment{
    /* border-width: 1.5px; */
    border: 1px solid #00b7ac;
    /* background: linear-gradient(90deg, rgba(2,78,160,1) 0%, rgba(0,183,172,1) 100%); */
    color: rgb(2,78,160);;
    margin: 0;
    outline: 0;
    font-size: 13px;
  }
  .btn-emergency{
    background-color: #c61c1a;
    color: #fff;
    font-size: 13px;
  }
  ::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #d8deeb; 
    border-radius: 6px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #284797; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  } */
  /* .chevronDown{
    transition: .5s ease all;
  }
  .btn-hospitals:hover > .chevronDown{
    transform: rotate(180deg); 
    color: #284797;
  } */
  .sub-menu-item{
    border-radius: 0px;
    font-weight: 500;
    color: slategray;
    font-size: 13px;
  }
  /* .sub-menu-item{
    color: text-primary;
  } */
  .hospitals-menu-card{
    width: 1100px;
  }
  .menu-li{
    font-size: 13px;
  }
  .icon-white{
    display: inline !important;
    width: auto;
  }
  .menu-icon-blue{
    display: none !important;
    width: 0px;
  }
  @media only screen and (max-width: 1400px) and (min-width: 1280px) {
    .hospitals-menu-card{
      width: 900px;
    }
  }
  @media only screen and (max-width: 1279px) and (min-width: 1024px) {
    .hospitals-menu-card{
      width: 550px;
    }
    .menu-li{
      font-size: 11px;
    }
  }
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .hospitals-menu-card{
      width: 450px;
    }
    .menu-li{
      font-size: 11px;
    }
  }
  @media only screen and (max-width: 767px){
    .menuOne{
      display: none;
    }

  }
  @media screen and (max-width:575px) {
    .nav-bar{
      background: #fff;
      width: 100%;
      gap:2px;
      height: 50px;
    }
    .navbar-sec1{
      background: rgb(2,78,160);
      background: linear-gradient(90deg, rgba(2,78,160,1) 0%, rgba(0,183,172,1) 100%);
      width: 100%;
    }
    .btn-appoinment{
      background:#fff;
      border:1px solid var(--primary)
    }
    .sub-menu-item{
      font-size: 11px;
    }
    .icon-white{
      display: none !important;
      width: 0px;
    }
    .menu-icon-blue{
      display: inline !important;
      width: auto;
    }
  }
  /* footer */
  /* text-[#f4f7fd80] text-[15px] leading-[38px] font-medium */
  .footer-list-item{
    color: #f4f7fd80;
    font-size: 15px;
    line-height: 38px;
    font-weight: 500;
  }
  .footer-list-item-2{
    color: #fff;
  }
